.footer {
  padding: 0%;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

img {
  width: 100%;
}

.texto {
  position: absolute;
}

* {
  font-family: roboto-light;
  color: white;
}

.faculdade {
  margin: 0%;
}

@media (max-width: 767px) {
  p {
    font-size: 4vmin;
  }
}

@media (min-width: 768px) {
  p {
    font-size: 1.4vmin;
  }
}

@media (min-width: 992px) {
  p {
    font-size: 1.8vmin;
  }
}
