<div class="container-fluid footer">
  <div class="texto">
    <p>Gabriel Vinicius dos Santos</p>
    <p>gv92769@gmail.com</p>
    <p>(31) 9 9362-4987</p>
    <p class="faculdade">Centro Universitário Una</p>
  </div>
  <img class="d-none d-md-block" src="../../assets/img/rodape-desktop.jpg" />
  <img class="d-block d-md-none" src="../../assets/img/rodape-mobile.jpg" />
</div>
