tr th {
  font-family: roboto-regular;
  color: #012d51;
  text-align: center;
}

.texto {
  font-family: helvetica-ultralight-regular;
  color: #29abe2;
  margin: 26px 0 26px;
  text-align: center;
}

.header {
  border-left: 1px solid #29abe2;
  width: 22.5%;
}

.sheader {
  border-left: none;
  width: 10%;
}

table {
  border: none;
  width: 100%;
}

tbody tr {
  border-top: 1px solid #29abe2;
}

tbody tr th {
  border-left: none;
  font-family: roboto-light;
  color: #012d51;
}

tbody tr td {
  border-top: 1px solid #29abe2;
  border-left: 1px solid #29abe2;
  text-align: center;
  font-family: helvetica-condensed-regular;
  color: #808080;
}

.card-conteudo {
  width: 100% !important;
  padding: 0%;
  border: 2px solid #29abe2;
  padding-left: 3% !important;
  padding-right: 3% !important;
  padding-top: 3% !important;
}

.center {
  margin-bottom: 52px;
}

a {
  font-family: roboto-light !important;
  color: #012d51 !important;
  background-color: none !important;
}

.nav-pills .nav-link.active {
  background-color: white;
  border: 2px solid #29abe2;
}

.nav-pills .nav-link {
  border-radius: 0%;
}

.card-header {
  font-family: roboto-regular;
  color: #012d51;
  text-align: left;
  font-weight: 600;
  border: none;
  background-color: white !important;
}

.card-texto {
  font-family: helvetica-condensed-regular;
  color: #808080;
  text-align: left;
}

div .card-stexto {
  padding: 4% !important;
}

li {
  width: 24%;
  margin-left: 1.25%;
  border: 1px solid #808080;
  background-color: none;
}

.linha {
  border-bottom: 1px solid #29abe2;
  padding-top: 2% !important;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.class-1 {
  margin-left: 0% !important;
}
