<div class="container-fluid">
  <div class="col-12">
    <h2 class="texto">LISTA DE CADASTRO</h2>
  </div>
  <div class="center">
    <div class="d-none d-md-block col-md-10 col-lg-6 p-xl-6">
      <table>
        <tr>
          <th class="sheader"></th>
          <th *ngFor="let col of cols" class="header">{{col.header}}</th>
        </tr>
        <tbody>
          <tr *ngFor="let rowData of candidatos; let i = index">
            <th>{{i+1}}</th>
            <td *ngFor="let col of cols">
              <span>{{col.field == 'nascimento' ? (rowData[col.field] | date:"dd/MM/yyyy") : rowData[col.field]}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-block d-md-none col-10">
      <ul class="nav nav-pills" cellspacing="0" id="pills-tab" role="tablist">
        <li *ngFor="let rowData of candidatos; let i = index" class="nav-item class-{{i+1}}">
          <a class="nav-link" [ngClass]="{'active': i == 0}" id="pills-{{i+1}}-tab" data-toggle="pill"
            href="#pills-{{i+1}}" role="tab" attr.aria-controls="pills-{{i+1}}"
            attr.aria-selected="true: i==0, false: i>0">{{i+1}}</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade" [ngClass]="{'show active': i == 0}" id="pills-{{i+1}}" role="tabpanel"
          attr.aria-labelledby="pills-{{i+1}}-tab" *ngFor="let rowData of candidatos; let i = index">
          <div class="card-conteudo">
            <div *ngFor="let col of colsM" class="linha">
              <div class="col-3 card-header">{{col.header}}</div>
              <div class="col-9 card-texto">
                {{col.field == 'nascimento' ? (rowData[col.field] | date:"dd/MM/yyyy") : rowData[col.field]}}</div>
            </div>
            <div class="col-12 card-stexto"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
