img {
  width: 100%;
  height: 100%;
}

.imagem {
  padding: 0%;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.topbar {
  margin-top: 4%;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
}

.logo-menu {
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#logo {
  width: 17%;
  height: 17%;
}

.texto {
  margin-top: -3%;
  position: absolute;
  font-family: helvetica-ultralight-regular;
  color: white;
  text-align: left;
}

ul {
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  margin-left: 0.5em;
  float: left;
  color: white;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: roboto-regular;
  font-size: medium;
}

.ultimo {
  padding-right: 0% !important;
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.hamburguer {
  padding: 0%;
  width: 15%;
  height: 15%;
}

.dropdown-menu {
  background-color: #29abe2;
  border-radius: 0%;
}

.h1 {
  font-size: 7vmin;
}

.h2 {
  font-size: 3vmin;
}

@media (max-width: 767px) {
  .hamburguer {
    width: 30%;
    height: 30%;
  }
  #logo {
    width: 34%;
    height: 34%;
  }
  .topbar {
    margin-top: 8%;
  }
  .imagem {
    padding: 0%;
    align-items: flex-start;
  }
  .texto {
    margin-top: 25%;
    position: absolute;
    text-align: center;
  }
  .h1 {
    font-size: 16vmin;
  }
  .h2 {
    font-size: 7vmin;
  }
}

@media (min-width: 768px) {
  .h1 {
    font-size: 5.65vmax;
  }
  .h2 {
    font-size: 2.42vmax;
  }
}

@media (min-width: 992px) {
  .h1 {
    font-size: 6vmax;
  }
  .h2 {
    font-size: 2.6vmax;
  }
}

a .top {
  padding: 10px !important;
  display: none;
  position: absolute;
}

a .top:hover {
  text-decoration: none;
}

.img-top {
  width: 2.5%;
  height: 2.5%;
  margin-top: -18%;
  margin-left: 85%;
}

@media (min-width: 1400px) {
  .img-top {
    margin-top: -10%;
  }
}

@media (min-width: 1800px) {
  .img-top {
    width: 2%;
    height: 2%;
    margin-top: -8%;
  }
}
