<div id="top">
  <div class="container-fluid">
    <div class="d-none d-lg-block">
      <div class="container-fluid topbar">
        <div class="logo-menu col-xl-6 col-lg-6">
          <img id="logo" src="../assets/logo/logo-in8-dev.svg">
          <div class="col-8 menu">
            <ul>
              <li><a href="#cadastro">cadastro</a></li>
              <li><a href="#lista">lista</a></li>
              <li><a class="ultimo" href="#footer">sobre mim</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="d-block d-lg-none">
      <div class="container-fluid topbar">
        <div class="logo-menu col-md-9 col-9">
          <div class="col-4">
            <div class="nav-item dropdown">
              <a class="nav-link hamburguer" id="hamburguer" data-toggle="dropdown" href="#" role="button"
                aria-haspopup="true" aria-expanded="false">
                <img src="../assets/icons/hamburguer.svg">
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#lista">lista</a>
                <a class="dropdown-item" href="#footer">sobre mim</a>
                <a class="dropdown-item" href="#cadastro">cadastro</a>
              </div>
            </div>
          </div>
          <img id="logo" src="../assets/logo/logo-in8-dev.svg">
        </div>
      </div>
    </div>
    <div class="container-fluid imagem">
      <div class="texto col-xl-6 col-md-6 col-8 col-lg-6">
        <div class="h1">ESTÁGIO</div>
        <div class="h2">PROVA DE SELEÇÃO</div>
      </div>
      <img class="d-md-block d-none" src="../assets/img/index-image.jpg">
      <img class="d-block d-md-none" src="../assets/img/index-image-mobile.jpg">
    </div>
  </div>
  <app-manter-cadastro id="cadastro"></app-manter-cadastro>
  <div>
    <app-lista id="lista"></app-lista>
    <a class="top d-none d-lg-block" href="#top"><img class="img-top" src="../assets/icons/topo-pag.svg"></a>
  </div>
  <app-footer id="footer"></app-footer>
</div>
