<div class="container-fluid cadastro">
  <div class="col-12">
    <h2 class="texto">CADASTRO</h2>
  </div>
  <div class="col-12">
    <form [formGroup]="candidatoForm">
      <div class="center">
        <div class="col-10 col-xl-4 col-md-6 col-lg-4">
          <label for="nome">Nome</label>
          <input type="text" formControlName="nome" [(ngModel)]="candidato.nome" name="nome" id="nome">
        </div>
      </div>
      <div class="center">
        <div class="col-10 col-xl-4 col-md-6 col-lg-4">
          <label for="email">Email</label>
          <input type="email" formControlName="email" [(ngModel)]="candidato.email" name="email" id="email">
        </div>
      </div>
      <div class="center">
        <div class="col-10 col-xl-4 col-md-6 col-lg-4">
          <label for="nascimento">Nascimento</label>
          <input type="date" formControlName="nascimento" [(ngModel)]="candidato.nascimento" name="nascimento"
            id="nascimento">
        </div>
      </div>
      <div class="center">
        <div class="col-10 col-xl-4 col-md-6 col-lg-4">
          <label for="telefone">Telefone</label>
          <input type="text" formControlName="telefone" [(ngModel)]="candidato.telefone" name="telefone" id="telefone">
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 button center">
    <div class="col-10 col-xl-4 col-md-6 col-lg-4 center">
      <div class="col-12 col-xl-7 col-md-6 col-lg-7">
        <button type="button" (click)="salvar()">
          <h2>CADASTRAR</h2>
        </button>
      </div>
    </div>
  </div>
</div>
