.cadastro {
  padding: 0%;
  background-color: #29abe2;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.texto {
  font-family: helvetica-ultralight-regular;
  color: white;
  margin: 26px 0 26px;
  text-align: center;
}

label {
  font-family: roboto-regular;
  color: white;
  display: block;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.div-input {
  text-align: left;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

input {
  font-family: helvetica-condensed-regular;
  background-color: #29abe2;
  outline: 0;
  border-width: 0 0 1px;
  border-color: white;
  color: white;
  width: 100%;
}

button {
  font-family: helvetica-ultralight-regular;
  background-color: #012d51;
  color: #29abe2;
  border-width: 0;
  margin: 26px 0 26px;
  width: 100%;
}

.button {
  text-align: center;
}

button h2 {
  margin-top: 0.5rem;
}
