html, body {
  margin: 0;
  padding: 0%;
  width: 100% !important;
}

div {
  padding: 0 !important;
}

@font-face {
  font-family: roboto-light;
  src: url(assets/fonts/Roboto-Light_0.ttf) format("opentype");
}

@font-face {
  font-family: roboto-regular;
  src: url(assets/fonts/Roboto-Regular_0.ttf) format("opentype");
}

@font-face {
  font-family: helvetica-condensed-regular;
  src: url(assets/fonts/ps.ttf) format("opentype");
}

@font-face {
  font-family: helvetica-ultralight-regular;
  src: url(assets/fonts/helvetica-25-ultra-light.ttf) format("opentype");
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
}
